*{
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

.wrapper{

}

.imput-box{
    display: flex;
    flex-direction: column;
}

.imput-field{
    position: relative;
    width: 90%;
}

.imput-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px
}

.input-mail-pass{
    width: 100%;
    height: 30px;
    border: 20px;
    border: white 1px solid;
    border-radius: 20px;
    background-color:  #2C2E3D;

    padding-left: 45px;
}

imput{
    width: 100%;
    height: 100%;
}

.button_div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button_submit{
    margin-top: 30px;

}
